.ai-demo {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    position: relative;
}

.ai-demo img {
    width: 80%; 
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.ai-demo img:hover {
    transform: scale(1.025);
}

.floating-ui-top-left {
    position: absolute;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 136px;
    height: 150px;
    border-radius: 15px;
    top: -1em;
    left: 7em;
}

.floating-ui-top-left img {
    width: 60px; 
    height: 90px;
    margin: 0;
    transition: all 0.3s ease;
    transform: scale(1.3);
}

.floating-ui-top-left img:hover {
    transform: scale(1.05);
}

.floating-ui-bottom-right {
    position: absolute;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(5px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    bottom: 0.5em;
    right: 5em; 
}

.floating-ui-bottom-right span {
    font-size: 14px; 
}


@media screen and (max-width: 1024px) {
    .ai-demo {
        padding: 20px;
        margin-bottom: 3rem;
        margin-top: 5rem;
    }

    .ai-demo > img {
        scale: 1.25;
    }

    .floating-ui-top-left {
        width: 120px;
        height: 130px;
        top: -3rem;
        left: -0.5rem;
    }

    .floating-ui-top-left img {
        width: 50px;
        height: 70px;
        scale: 1.27;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .floating-ui-bottom-right {
        width: 150px;
        height: 30px;
        bottom: -3rem;
        right: -1rem;
    }

    .floating-ui-bottom-right span {
        font-size: 13.5px;
    }
}

@media screen and (max-width: 768px) {
    .ai-demo {
        padding: 10px;
        margin-bottom: 3rem;
    }

    .ai-demo > img {
        scale: 1.45;
    }

    .floating-ui-top-left {
        width: 100px;
        height: 110px;
        top: -3.5rem;
        left: -3rem;
    }

    .floating-ui-top-left img {
        width: 40px;
        height: 60px;
        transform: scale(1.5);
    }

    .floating-ui-bottom-right {
        width: 160px;
        height: 35px;
        bottom: -3rem;
        right: -3rem;
        scale: 0.9;
    }

    .floating-ui-bottom-right span {
        font-size: 15px;
    }
}

@media screen and (min-width: 480px) and (max-width: 680px) {
    .ai-demo {
        padding: 5px;
        margin-bottom: 6rem;
    }

    .ai-demo > img {
        height: 13rem;
        width: 26rem;
        scale: 1.35;
    }

    .floating-ui-top-left {
        width: 80px;
        height: 90px;
        top: -3rem;
        left: -4rem;
        transform: scale(0.8);
    }

    .floating-ui-top-left img {
        width: 30px;
        height: 45px;
        transform: scale(1.7);
        border-radius: 0.4rem;
    }

    .floating-ui-bottom-right {
        width: 150px;
        height: 18px;
        bottom: -3rem;
        right: -3.5rem;
        border-radius: 0.5rem;
    }

    .floating-ui-bottom-right span {
        font-size: 13px;
    }
}

@media screen and (max-width: 480px) {
    .ai-demo {
        padding: 5px;
        margin-bottom: 3rem;
    }

    .ai-demo > img {
        height: 13rem;
        width: 26rem;
        scale: 1.05;
    }

    .floating-ui-top-left {
        width: 80px;
        height: 90px;
        top: -2rem;
        left: -2rem;
        transform: scale(0.55);
    }

    .floating-ui-top-left img {
        width: 30px;
        height: 45px;
        transform: scale(1.85);
        border-radius: 0.4rem;
    }

    .floating-ui-bottom-right {
        width: 90px;
        height: 20px;
        bottom: -1rem;
        right: -1rem;
    }

    .floating-ui-bottom-right span {
        font-size: 11px;
    }
}
