.how-it-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

h2 {
    margin-bottom: 25px;
    text-align: center;
}

.step {
    display: flex;
    margin-bottom: 40px;
    width: 32.5rem;
    height: auto;
    align-items: center;
    cursor: pointer;
}

.step-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.step a {
    margin-right: 1rem;
    transition: all 0.3s ease;
}

.step:hover a {
    transform: scale(1.1);
}

.step-content p {
    width: 28.125rem;
}

@media screen and (min-width: 681px) {
    .feature {
        margin-right: 2rem;
    }
}

@media screen and (max-width: 680px) {
    .step-container {
        display: flex;
        flex-direction: column;
        margin-top: 10px; 
        flex-direction: column; 
        align-items: center;
    }

    .step {
        width: 270px;
        height: 139.04px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .step-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 20%;
    }

    .step-content p {
        font-size: 12px;
    }

    .step-content h3 {
        font-size: 18.72px;
    }

    .feature{
        margin-right: 0;
    }
}