:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #150524;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behaviour: smooth;
}

body {
  font-family: "Inter", sans-serif;
  place-items: center;
  overflow-x: hidden;
}